# Actividad 4.1

<img src="NeuralNetwork.png">

## 4.1.1 Hallar las predicciones del modelo para el siguiente conjunto de test.

In [2]:
# imports
import pandas as pd
import numpy as np

In [3]:
# Cargamos el dataset
df = pd.read_csv('l4p1_test.csv')
df.head()

    x1   x2  clase
0  1.5  0.2      1
1  1.4  0.3      1
2  1.6  0.4      1
3  1.1  0.1      2
4  4.3  1.3      1

In [4]:
# z1 = 1*6.46 + x1*-1.6 + x2*-3.43 (Activacion de B1)
df['z1'] = 1 * 6.46 + df['x1'] * -1.6 + df['x2'] * -3.43
df.head()

    x1   x2  clase     z1
0  1.5  0.2      1  3.374
1  1.4  0.3      1  3.191
2  1.6  0.4      1  2.528
3  1.1  0.1      2  4.357
4  4.3  1.3      1 -4.879

In [5]:
# Aplicamos la transformacion no lineal: (sigmoide)
# B1 = h = 1/(1+exp(-z1))
df['B1'] = 1/(1+ np.exp(-df['z1']))
df.head()

    x1   x2  clase     z1        B1
0  1.5  0.2      1  3.374  0.966882
1  1.4  0.3      1  3.191  0.960494
2  1.6  0.4      1  2.528  0.926082
3  1.1  0.1      2  4.357  0.987345
4  4.3  1.3      1 -4.879  0.007547

In [6]:
# z2 = 1*19.64 + x1*-1.35 + x2*-7.52 (Activacion de B2)
df['z2'] = 1*19.64 + df['x1']*-1.35 + df['x2']*-7.52
df.head()

    x1   x2  clase     z1        B1      z2
0  1.5  0.2      1  3.374  0.966882  16.111
1  1.4  0.3      1  3.191  0.960494  15.494
2  1.6  0.4      1  2.528  0.926082  14.472
3  1.1  0.1      2  4.357  0.987345  17.403
4  4.3  1.3      1 -4.879  0.007547   4.059

In [7]:
# B2 = h = 1/(1+exp(-z2))
df['B2'] = 1/(1+ np.exp(-df['z2']))
df.head()

    x1   x2  clase     z1        B1      z2        B2
0  1.5  0.2      1  3.374  0.966882  16.111  1.000000
1  1.4  0.3      1  3.191  0.960494  15.494  1.000000
2  1.6  0.4      1  2.528  0.926082  14.472  0.999999
3  1.1  0.1      2  4.357  0.987345  17.403  1.000000
4  4.3  1.3      1 -4.879  0.007547   4.059  0.983027

In [8]:
# Calculamos la salida, para ello necesitamos zc1, zc2 y zc3
df['zc1'] = 1*-5.47 + df['B1']*7.61 + df['B2']*1.9
df['zc2'] = 1*-3.76 + df['B1']*-8.21 + df['B2']*7.87
df['zc3'] = 1*3.96 + df['B1']*-3.81 + df['B2']*-8.46
df.head()

,x1,x2,clase,z1,B1,z2,B2,zc1,zc2,zc3
0,1.5,0.2,1,3.374,0.966882,16.111,1.000000,3.787972,-3.828102,-8.183820
1,1.4,0.3,1,3.191,0.960494,15.494,1.000000,3.739360,-3.775659,-8.159481
2,1.6,0.4,1,2.528,0.926082,14.472,0.999999,3.477480,-3.493134,-8.028366
3,1.1,0.1,2,4.357,0.987345,17.403,1.000000,3.943699,-3.996106,-8.261786
4,4.3,1.3,1,-4.879,0.007547,4.059,0.983027,-3.544815,3.914458,-4.385162

In [9]:
# Ahora nos toca cacular la sigmode, C1, C2 y C3
df['C1'] = 1/(1+ np.exp(-df['zc1']))
df['C2'] = 1/(1+ np.exp(-df['zc2']))
df['C3'] = 1/(1+ np.exp(-df['zc3']))
df.head()

,x1,x2,clase,z1,B1,z2,B2,zc1,zc2,zc3,C1,C2,C3
0,1.5,0.2,1,3.374,0.966882,16.111,1.000000,3.787972,-3.828102,-8.183820,0.977860,0.021288,0.000279
1,1.4,0.3,1,3.191,0.960494,15.494,1.000000,3.739360,-3.775659,-8.159481,0.976783,0.022408,0.000286
2,1.6,0.4,1,2.528,0.926082,14.472,0.999999,3.477480,-3.493134,-8.028366,0.970040,0.029508,0.000326
3,1.1,0.1,2,4.357,0.987345,17.403,1.000000,3.943699,-3.996106,-8.261786,0.980992,0.018055,0.000258
4,4.3,1.3,1,-4.879,0.007547,4.059,0.983027,-3.544815,3.914458,-4.385162,0.028064,0.980439,0.012308

In [10]:
# Comparamos los resultados con los originales:
df['ClaseCalculada'] = df[['C1', 'C2', 'C3']].idxmax(axis=1)
df['ClaseCalculada'] = df['ClaseCalculada'].replace({'C1': 1, 'C2': 2, 'C3': 3})
df.head(12)

,x1,x2,clase,z1,B1,z2,B2,zc1,zc2,zc3,C1,C2,C3,ClaseCalculada
0,1.5,0.2,1,3.374,0.966882,16.111,1.000000,3.787972,-3.828102,-8.183820,0.977860,0.021288,0.000279,1
1,1.4,0.3,1,3.191,0.960494,15.494,1.000000,3.739360,-3.775659,-8.159481,0.976783,0.022408,0.000286,1
2,1.6,0.4,1,2.528,0.926082,14.472,0.999999,3.477480,-3.493134,-8.028366,0.970040,0.029508,0.000326,1
3,1.1,0.1,2,4.357,0.987345,17.403,1.000000,3.943699,-3.996106,-8.261786,0.980992,0.018055,0.000258,1
4,4.3,1.3,1,-4.879,0.007547,4.059,0.983027,-3.544815,3.914458,-4.385162,0.028064,0.980439,0.012308,2
5,3.0,1.1,2,-2.113,0.107840,7.318,0.999337,-2.750600,3.219418,-4.905260,0.060053,0.961559,0.007353,2
6,4.9,2.0,2,-8.240,0.000264,-2.015,0.117637,-5.244482,-2.836363,2.963786,0.005249,0.055391,0.950911,3
7,6.1,1.9,2,-9.817,0.000055,-2.883,0.053000,-5.368884,-3.343335,3.511409,0.004638,0.034114,0.971011,3
8,4.4,1.2,3,-4.696,0.009049,4.676,0.990770,-3.518674,3.963065,-4.456389,0.028786,0.981350,0.011471,2
9,5.9,2.1,1,-10.183,0.000038,-4.117,0.016032,-5.439251,-3.634138,3.824224,0.004324,0.025727,0.978631,3
10,5.6,1.4,3,-7.302,0.000674,1.552,0.825202,-3.896988,2.728812,-3.023779,0.019899,0.938705,0.046363,2
11,5.0,1.9,3,-8.057,0.000317,-1.398,0.198134,-5.091135,-2.203289,2.282582,0.006113,0.099456,0.907424,3

In [ ]:
# Puede que me haya equivocado a la hora de copiar alguna variable, pero aun asi el modelo acierta en varios casos.

## 4.1.2 Evaluar el rendimiento del clasificador en dicho conjunto.

In [11]:
# Imports
'''
 Para este apartado utilizare algunas de las funciones de sklearn para ahorrar tiempo 
 ya que lo realmente importante de esta leccion era lo anterior (esta parte ya la hicimmos en la otra actividad)
'''
from sklearn.metrics import confusion_matrix

In [13]:
# Sensibilidad
conf_matrix = confusion_matrix(df['clase'], df['ClaseCalculada'])

true_positives = conf_matrix[1, 1]
false_negatives = conf_matrix[1, 0]

sensitivity = true_positives / (true_positives + false_negatives)

print("Sensibilidad: ", sensitivity)

Sensibilidad:  0.5

In [14]:
# FP Rate
false_positives = conf_matrix[0, 1]
true_negatives = conf_matrix[0, 0]

fpr = false_positives / (false_positives + true_negatives)

print("FP Rate: ", fpr)

FP Rate:  0.25

In [15]:
# Especifidad

specificity = true_negatives / (true_negatives + false_positives)
print("Especifidad: ", specificity)

Especifidad:  0.75

In [16]:
# Precision

precision = true_positives / (true_positives + false_positives)
print("Precision: ", precision)

Precision:  0.5

In [17]:
# F-score
f_score = 2 * (precision * specificity) / (precision + specificity)
print("F-score: ", f_score)

F-score:  0.6

# Actividad 4.2

Realizar una búsqueda bibliográfica del concepto de Deep Learning. Para ello, se pide realizar un documento redactado con vuestras propias palabras que incluya:
- Concepto y fundamento.
- Redes neuronales multicapa.
- Redes neuronales convolucionales.
- Redes neuronales recurrentes.
- Aplicaciones

## Concepto y fundamento

En primer lugar me he informado sobre las diferencias entre Deep Learning y Machine Learning, ya que a priori parecen conceptos simmilares. Mis conclusiones son las siguientes:
El Deep Learning es una forma específica de Machine Learning que se basa en redes neuronales profundas para aprender automáticamente características y representaciones complejas de los datos en lugar de focalizarse en algoritmos y modelos para buscar patrones y relaciones en los datos como haciamos en el Machine Learning.

Se ha demmostrado que es mas eficiente para resolver problemas con una gran cantidad de datos como pueden ser el reconocimiento de imagenes, el procesamiento de lenguaje natural y el reconocimiento por voz.

El fundamento del Deep Learning se basa en la idea de emular el funcionamiento del cerebro humano mediante redes neuronales artificiales profundas, es un concepto similar al visto en esta clase pero llevado a un nivel mucho mas complejo. El concepto clave detrás del Deep Learning es que las redes neuronales con más capas tienen la capacidad de capturar características y patrones más profundos y abstractos de los datos. A medida que los datos fluyen a través de las capas, se realizan operaciones de transformación en los mismos (similares a las que hemmos visto anteriormente pero utilizando un gran abanico de diferentes algoritmos) lo que permite que la red aprenda representaciones cada vez más refinadas y significativas, acercandose de esta forma al funcionamiento del cerebro humano.

## Redes neuronales multicapa

Las redes neuronales multicapa consisten en el concepto que hemos estado trabajando durante la lección. La estructura básica de una red neuronal multicapa consiste en una capa de entrada, una o varias capas ocultas y una capa de salida. Cada capa está compuesta por un conjunto de neuronas, y cada neurona está conectada a las neuronas de las capas adyacentes a través de conexiones ponderadas con lo que hemos denominado pesos, que determinaran cuando se activara la neurona con la que estan conectados.

La capa de entrada en este caso recibe la entrada del problema qe se quiere resolver, esta entrada pueden ser varias neuronas y que cada una represente un pixel de una imagen, pueden representar informacion para tomar una determinada decisión, etc. Además, serán las encargadas de transmitir esta información a las neuronas de las capas intermedias a traves de las conexiones ponderadas mencionadas anteriormente.

Como se ha comentado antes, cada capa oculta adicional le da más complejidad al modelo que estamos generando, dependiendo del tipo de problema que queramos resolver no siempre será recomendable añadir demasiadas capas.

Finalmente, la capa de salida constará de una o mas neuronas que pueden representar un valor booleano, una decisión, etc.

## Redes neuronales convolucionales (CNN)

Las redes neuronales convolucionales son un tipo de arquitectura de redes neuronales especializadas en el procesamiento de datos estructurados en forma de matrices, como imágenes. Estas redes se utilizan principalmente en tareas de visión por computadora, como reconocimiento de objetos, detección de características y segmentación de imágenes. Probableente tambien seriían una buena alternativa a tener en cuenta en problemas como el mostrado en clase de enseñar a la red neuronal a jugar al Super Mario. (si recuerdo bien la entrada era la imagen del estado actual del nivel y la salida la decisión que toma)

La característica principal de estas redes es su capacidad para capturar patrones espaciales y características locales de los datos de entrada. Para esto utiliza capas convolucionales que aplican diferentes filtros a la entrada para extraer características relevantes. Estos filtros se desplazan a lo largo de la imagen, calculando la suma ponderada de los píxeles en cada posición y generando un mapa de características.

Adicionalmente, utilizan "pooling" o capas de agrupación con las caracteristicas mas relevantes de la entrada, de esta forma reducen la dimensionalidad del problema y por lo tanto es mas sencillo de procesar. Además, son eficientes en términos computacionales y permite un aprendizaje rápido.

## Redes neuronales recurrentes (RNN)

Las redes neuronales recurrentes son un tipo de arquitectura de redes neuronales diseñadas para procesar secuencias de datos, donde la información del pasado influye en la predicción del futuro. A diferencia de las redes neuronales convolucionales, las RNN tienen conexiones retroalimentadas, lo que les permite recordar y utilizar información anteriormente procesada.

La característica fundamental de las redes neuronales recurrentes es su capacidad para procesar datos secuenciales de longitud variable. Cada neurona en una RNN tiene una "memoria" interna que almacena la información relevante del pasado y la combina con los nuevos datos de entrada. Esta memoria permite a la red aprender patrones a largo plazo en la secuencia y modelar dependencias temporales. Esto las hace especialmente útiles en aplicaciones donde el orden de los datos es importante, como el procesamiento del lenguaje natural, la traducción automática, la generación de texto y el reconocimiento de voz.

Estas redes tambien presentan algunos problemas como el desvanecimiento o la explosión del gradiente, para los cuales existen diversas tecnicas para tratarlos, en las que ahora no haremos hincapie.

## Aplicaciones

Algunas de las aplicaciones del Deep Learning podrían ser las siguientes:
- Reconocimiento de imágenes
- Procesamiento del lenguaje natural
- Reconocimiento de voz
- Conducción autónoma
- Generación de contenido (como música e imágenes)
- Finanzas (como analisis de riesgos o predicciones de acciones)